body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('./assets/image.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-shadow);
  }
  